<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/46e830f02a.js" crossorigin="anonymous"></script>
    <title>Agnecy Landing</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header_inner">
                <nav class="nav">
                    <a class="nav_link" href="#">Home</a>           
                    <a class="nav_link" href="#">Portfolio</a>
                    <a class="nav_link" href="#">About us</a>
                    <a class="nav_link" href="#">Contact</a>
                </nav>
            </div>
        </div>
    </header>
    <div class="intro">
        <div class="container">
            <div class="intro_inner">
                <div class="intro_item">
                    <h1 class="intro_title">Our strong organaisation</h1>
                    <div class="intro_text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt  ut labore et. ectetur adig ipis cing elit, sed do eiusmod tempor incididunt.</div>
                    <a class="btn" href="#">Contact Us</a>
                </div>
                <div class="intro_item intro_item--video">
                    <a class="intro_video_vd" href="#" target="_blank">
                        <i class="far fa-play-circle"></i>
                    </a>
                </div>
            </div>
        </div>
    </div> <!-- /.intro -->
    <section class="section section--first">
        <div class="container">
            <div class="services">
                <div class="services_item">
                    <h2 class="services_title">Do you know we can provide for you ?</h2>
                    <div class="services_text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.Lorem ni ipsum dolor sit amet, consectetur adipis cing elit, ed doi eiusmod tempor incididunt ut labore et.</div>
                    <a class="btn" href="#">Learn More</a>
                </div>
                <div class="services_item services_item--block">
                    <div class="services_block">
                        <img class="services_block_img" src="images\services1.png" alt="#">
                        <h4 class="services_block_title">Management</h4>
                        <div class="services_block_text">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor.</div>
                    </div>
                    <div class="services_block">
                        <img class="services_block_img" src="images\services2.png" alt="#">
                        <h4 class="services_block_title">UI/UX Design</h4>
                        <div class="services_block_text">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet.</div>
                    </div>
                    <div class="services_block">
                        <img class="services_block_img" src="images\services3.png" alt="#">
                        <h4 class="services_block_title">Logo/Branding</h4>
                        <div class="services_block_text">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioeew idolor sit amet.</div>
                    </div>
                    <div class="services_block">
                        <img class="services_block_img" src="images\services4.png" alt="#">
                        <h4 class="services_block_title">Animation</h4>
                        <div class="services_block_text">Lorem ipsum dolor sitea amet, zixf conseit  adipi cing elit, seddi do eiusmod btdempor in didunt utlae ore etioe.Lorem ipsum new idolor sit amet, consect netur.</div>
                    </div>
                </div>
            </div> <!-- /. services -->
        </div> <!-- /.container-->
    </section>
    <section class="section">
        <div class="container">
            <div class="section_header section_header--products">
                <h2 class="section_title">Feature products</h2>
                <div class="section_text section_text--products">Lorem ipsum dolor sit amet, consectetur adipis cing elit,sed do eiusmod tempor incididunt ut labore et.</div>
            </div>
            <div class="products">
                <div class="products_nav">
                    <a class="products_nav_link products_nav_link--active" href="#">All</a>
                    <a class="products_nav_link" href="#">Print Template</a>
                    <a class="products_nav_link" href="#">Web Template</a>
                    <a class="products_nav_link" href="#">User Interface</a>
                    <a class="products_nav_link" href="#">Mock-Up</a>
                </div>
                <div class="products_images">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                    <img class="products_img" src="http://placehold.it/300x290" alt="">
                </div>
            </div> <!-- /.products -->
        </div> <!-- /.container -->
    </section>
    <section class="section">
        <div class="container">
            <div class="section_header">
                <h2 class="section_title">Meet our team</h2>
                <div class="section_text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</div>
            </div>
            <div class="team">
                <div class="team_photo">
                    <img src="http://placehold.it/320x460" alt="">
                </div>
                <div class="team_item">
                    <h3 class="team_title">Mark Waugh</h3>
                    <div class="team_text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed dooing eiusmod tempor incididut labore Ui / Ux , print template.</div>
                    <div class="team_social">
                        <a class="team_social_item" href="#" target="_blank">Facebook</a>
                        <a class="team_social_item" href="#" target="_blank">Dribbble</a>
                        <a class="team_social_item" href="#" target="_blank">Behance</a>
                        <a class="team_social_item" href="#" target="_blank">Twitter</a>
                    </div>
                    <div class="people">
                        <a href="#team" class="people_item">
                            <div class="people_img">
                                <img src="http://placehold.it/200x215" alt="">
                            </div>
                            <div class="people_text">Sokina Jue</div>
                        </a>
                        <a href="#team" class="people_item">
                            <div class="people_img">
                                <img src="http://placehold.it/200x215" alt="">
                            </div>
                            <div class="people_text">Sokina Jue</div>
                        </a>
                        <a href="#team" class="people_item">
                            <div class="people_img">
                                <img src="http://placehold.it/200x215" alt="">
                            </div>
                            <div class="people_text">Sokina Jue</div>
                        </a>
                        <a href="#team" class="people_item">
                            <div class="people_img">
                                <img src="http://placehold.it/200x215" alt="">
                            </div>
                            <div class="people_text">Sokina Jue</div>
                        </a>
                    </div>
                </div>
            </div> <!-- /.team -->
        </div> <!-- /.container -->
    </section>
    <section class="section section--subscribe">
        <div class="container">
            <div class="subscribe">
                <h3 class="subscribe_title">Design tips, tricks, and freebies. Delivered weekly</h3>
                <div class="subscribe_text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod.</div>
                <form class="subscribe_item" action="/" method="post">
                    <input class="subscribe_imput" type="Email" name="name" placeholder="Email Address...">
                    <button class="subscribe_btn" type="submit">Subscribe</button>
                </form>
            </div> <!-- /.subscribe -->
        </div> <!-- /.container -->
    </section>
    <section class="section section--last">
        <div class="container">
            <div class="section_header">
                <h2 class="section_title">Get in touch</h2>
                <div class="section_text">Lorem ipsum dolor sit amet, consectetur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et. ur adipis cing elit, sed do eiusmod tempor incididunt ut labore et.</div>
            </div>
            <div class="footer">
                <div class="send">
                    <form class="send_items" action="/" method="post">
                        <input class="send_item" type="text" name="fio" placeholder="Name">
                        <input class="send_item" type="Email" name="email" placeholder="Your Mail">
                        <textarea class="send_text" rows="10" cols="45" name="text" placeholder="Type your message"></textarea>
                        <button class="send_btn" type="submit">Send Message</button>
                    </form>
                </div>
                <div class="info">
                        <h5 class="info_title">Contact info</h5>
                        <div class="info_text">Jalalabad 24 / A, Ambaarkhana, Sylhet, Bangladesh</div>
                        <div class="info_text">redwan@deviserweb.com</div>
                        <div class="info_text">(+88) 017 617 46373</div>
                </div>
            </div> <!-- /.touch -->
        </div> <!-- /.container -->
    </section>
    <div class="copyright">
        <div class="copyright_text">© Copyright @Junaed 2016, All rights reserved.</div>
        <div class="copyright_social">
            <a class="copyright_social_item" href="#" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="copyright_social_item" href="#" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a class="copyright_social_item" href="#" target="_blank">
                <i class="fab fa-google-plus-g"></i>
            </a>
            <a class="copyright_social_item" href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
        </div>
    </div>
</body>
</html>