<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:ital,wght@0,400;0,700;1,300&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="images\icon.png" type="image/x-icon">
        <script src="https://kit.fontawesome.com/46e830f02a.js" crossorigin="anonymous"></script>
        <title>MoGo</title>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <div class="header_inner">
                    <div class="header_logo">MoGo</div>
                    <nav class="nav">
                        <a class="nav_link active" href="#">About</a>
                        <a class="nav_link" href="#">Service</a>
                        <a class="nav_link" href="#">Blog</a>
                        <a class="nav_link" href="#">Work</a>
                        <a class="nav_link" href="#">Contact</a>
                        <a class="nav_link" href="#">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                        <a class="nav_link" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </nav>
                    <div class="nav-toggle">
                        <span class="nav-toggle_item"></span>
                    </div>
                </div>
            </div> <!-- /.container -->
        </header>
        <div class="page">
            <div class="intro">
                <div class="container">
                    <div class="intro_inner">
                        <h2 class="intro_suptitle">Creative Template</h2>
                        <h1 class="intro_title">Welcome to MoGo</h1>
                        <a class="btn" href="#">Learn More</a>
                    </div>
                    <div class="slider">
                        <div class="container">
                            <div class="slider_inner">
                                <div class="slider_item active">
                                    <span class="slider_num">01</span> 
                                    <span class="slider_text">Intro</span>
                                </div>
                                <div class="slider_item">
                                    <span class="slider_num">02</span> 
                                    <span class="slider_text">Work</span>
                                </div>
                                <div class="slider_item">
                                    <span class="slider_num">03</span> 
                                    <span class="slider_text">About</span>
                                </div>
                                <div class="slider_item">
                                    <span class="slider_num">04</span> 
                                    <span class="slider_text">Contact</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.container -->
            </div>
            <section class="section">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">What we do</h3>
                        <h2 class="section_title">Story about us</h2>
                        <div class="section_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_item">
                            <div class="card_inner">
                                <div class="card_img">
                                    <img src="images\about1.jpg" alt="">
                                </div>
                                <div class="card_text">Super team</div>
                            </div>
                        </div>
                        <div class="card_item">
                            <div class="card_inner">
                                <div class="card_img">
                                    <img src="images\about2.jpg" alt="">
                                </div>
                                <div class="card_text">Super team</div>
                            </div>
                        </div>
                        <div class="card_item">
                            <div class="card_inner">
                                <div class="card_img">
                                    <img src="images\about3.jpg" alt="">
                                </div>
                                <div class="card_text">Super team</div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.container -->
            </section>
            <div class="statistics">
                <div class="container">
                    <div class="stat">
                        <div class="stat_item">
                            <div class="stat_count">42</div>
                            <div class="stat-text">Web design projects</div>
                        </div>
                        <div class="stat_item">
                            <div class="stat_count">123</div>
                            <div class="stat-text">Happy client</div>
                        </div>
                        <div class="stat_item">
                            <div class="stat_count">15</div>
                            <div class="stat-text">Award winner</div>
                        </div>
                        <div class="stat_item">
                            <div class="stat_count">99</div>
                            <div class="stat-text">Cup of coffee</div>
                        </div>
                        <div class="stat_item">
                            <div class="stat_count">24</div>
                            <div class="stat-text">Members</div>
                        </div>
                    </div>
                </div> <!-- /.container -->
            </div>
            <section class="section">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">We work with</h3>
                        <h2 class="section_title">Amazing services</h2>
                    </div>
                    <div class="services">
                        <div class="services_item services_item--border">
                            <img class="services_icon" src="images\photography.png" alt="">
                            <div class="services_title">Photography</div>
                            <div class="services_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                        </div>
                        <div class="services_item services_item--border">
                            <img class="services_icon" src="images\web_design.png" alt="">
                            <div class="services_title">Web disign</div>
                            <div class="services_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                        </div>
                        <div class="services_item services_item--border">
                            <img class="services_icon" src="images\creativity.png" alt="">
                            <div class="services_title">Creativity</div>
                            <div class="services_text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                        </div>
                        <div class="services_item">
                            <img class="services_icon" src="images\seo.png" alt="">
                            <div class="services_title">SEO</div>
                            <div class="services_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
                        </div>
                        <div class="services_item">
                            <img class="services_icon" src="images\csshtml.png" alt="">
                            <div class="services_title">CSS/HTML</div>
                            <div class="services_text">Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.</div>
                        </div>
                        <div class="services_item">
                            <img class="services_icon" src="images\digital.png" alt="">
                            <div class="services_title">Digital</div>
                            <div class="services_text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                        </div>
                    </div>
                </div> <!-- /.container -->
            </section>
            <section class="section  section--devices">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">For all devices</h3>
                        <h2 class="section_title">Unique design</h2>
                    </div>
                    <div class="devices">  
                        <img class="devices_item" src="images\ipad.png" alt="">
                        <img class="device_item devices_item--iphone" src="images\iphone.png" alt="">
                    </div> 
                </div> <!-- /.container -->
            </section>
            <section class="section">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">Service</h3>
                        <h2 class="section_title">What we do</h2>
                        <div class="section_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="wedo">
                        <div class="wedo_item">
                            <img class="wedo_img" src="images\wedo.png" alt="">
                        </div>
                        <div class="wedo_item">
                            <div class="accordion">
                                <div class="accordion_item active">
                                    <div class="accordion_header">
                                        <img class="accordion_icon" src="images\wedo-photography.png" alt="">
                                        <div class="accordion_title">Photography</div>
                                    </div>
                                    <div class="accordion_content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                                <div class="accordion_item">
                                    <div class="accordion_header">
                                        <img class="accordion_icon" src="images\wedo-creativity.png" alt="">
                                        <div class="accordion_title">Creativity</div>
                                    </div>
                                    <div class="accordion_content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                                <div class="accordion_item">
                                    <div class="accordion_header">
                                        <img class="accordion_icon" src="images\wedo-web_design.png" alt="">
                                        <div class="accordion_title">Web design</div>
                                    </div>
                                    <div class="accordion_content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div> <!-- /.accordion -->
                        </div> <!-- /.wedo_item -->
                    </div> <!-- /.wedo -->
                </div> <!-- /.container -->
            </section>
            <div class="section section--gray">
                <div class="container">
                    <div class="reviews">
                        <div class="reviews_item">
                            <img class="reviews_photo" src="images\reviews.png" alt="">
                            <div class="reviews_text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</div>
                            <div class="reviews_author">Jon Doe</div>
                        </div>
                    </div>
                </div> <!-- /.container -->
            </div>
            <section class="section">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">Who we are</h3>
                        <h2 class="section_title">Meet our team</h2>
                        <div class="section_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card_item">
                            <div class="card_inner">
                                <div class="card_img">
                                    <img src="images\team1.jpg" alt="">
                                </div>
                                <div class="card_text">
                                    <div class="social">
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card_info">
                                <div class="card_name">Matthew Dix</div>
                                <div class="card_prof">Graphic Design</div>
                            </div>
                        </div>
                        <div class="card_item">
                            <div class="card_inner">
                                <div class="card_img">
                                    <img src="images\team2.jpg" alt="">
                                </div>
                                <div class="card_text">
                                    <div class="social">
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card_info">
                                <div class="card_name">Christopher Campbell</div>
                                <div class="card_prof">Branding/UX design</div>
                            </div>
                        </div>
                        <div class="card_item">
                            <div class="card_inner">
                                <div class="card_img">
                                    <img src="images\team3.jpg" alt="">
                                </div>
                                <div class="card_text">
                                    <div class="social">
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-pinterest-p"></i>
                                        </a>
                                        <a class="social_item" href="#" target="_blank">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card_info">
                                <div class="card_name">Michael Fertig</div>
                                <div class="card_prof">Developer</div>
                            </div>
                        </div>
                    </div> <!-- /.card -->
                </div> <!-- /.container -->
            </section>
            <div class="section section--gray">
                <div class="container">
                    <div class="logos">
                        <div class="logos_item">
                            <img class="logos_img" src="images\logo1.png" alt="">
                        </div>
                        <div class="logos_item">
                            <img class="logos_img" src="images\logo2.png" alt="">
                        </div>
                        <div class="logos_item">
                            <img class="logos_img" src="images\logo3.png" alt="">
                        </div>
                        <div class="logos_item">
                            <img class="logos_img" src="images\logo4.png" alt="">
                        </div>
                        <div class="logos_item">
                            <img class="logos_img" src="images\logo5.png" alt="">
                        </div>
                        <div class="logos_item">
                            <img class="logos_img" src="images\logo6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <section class="section section--works">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">What we do</h3>
                        <h2 class="section_title">Some of our work</h2>
                        <div class="section_text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div> <!-- /.container -->
                <div class="works">
                    <div class="works_col">
                        <div class="works_item">
                            <img class="works_image" src="images\work1.jpg" alt="">
                            <div class="works_info">
                                <div class="works_title">Creatively designed</div>
                                <div class="works_text">Lorem ipsum dolor sit</div>
                            </div>
                        </div>
                        <div class="works_item">
                            <img class="works_image" src="images\work2.jpg" alt="">
                            <div class="works_info">
                                <div class="works_title">Creatively designed</div>
                                <div class="works_text">Lorem ipsum dolor sit</div>
                            </div>
                        </div>
                    </div>
                    <div class="works_col">
                        <div class="works_item">
                            <img class="works_image" src="images\work3.jpg" alt="">
                            <div class="works_info">
                                <div class="works_title">Creatively designed</div>
                                <div class="works_text">Lorem ipsum dolor sit</div>
                            </div>
                        </div>
                        <div class="works_item">
                            <img class="works_image" src="images\work4.jpg" alt="">
                            <div class="works_info">
                                <div class="works_title">Creatively designed</div>
                                <div class="works_text">Lorem ipsum dolor sit</div>
                            </div>
                        </div>
                    </div>
                    <div class="works_col">
                        <div class="works_item">
                            <img class="works_image" src="Images\work5.jpg" alt="">
                            <div class="works_info">
                                <div class="works_title">Creatively designed</div>
                                <div class="works_text">Lorem ipsum dolor sit</div>
                            </div>
                        </div>
                    </div>
                    <div class="works_col">
                        <div class="works_item">
                            <img class="works_image" src="images\work6.jpg" alt="">
                            <div class="works_info">
                                <div class="works_title">Creatively designed</div>
                                <div class="works_text">Lorem ipsum dolor sit</div>
                            </div>
                        </div>
                        <div class="works_item">
                            <img class="works_image" src="images\work7.jpg" alt="">
                            <div class="works_info">
                                <div class="works_title">Creatively designed</div>
                                <div class="works_text">Lorem ipsum dolor sit</div>
                            </div>
                        </div>
                    </div>
                </div> <!-- /.works -->
            </section>
            <div class="section section--rewiews">
                <div class="container">
                    <div class="reviews">
                        <div class="reviews_item reviews_item--avatar">
                            <img class="reviews_photo" src="images\avatar.png" alt="">
                            <div class="reviews_text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</div>
                            <div class="reviews_author">Joshua Earle</div>
                        </div>
                    </div>
                </div> <!-- /.container -->
            </div>
            <section class="section section--clients">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">Happy clients</h3>
                        <h2 class="section_title">What people say</h2>
                    </div>
                    <div class="clients">
                        <div class="clients_item">
                            <img class="clients_photo" src="images\client1.png" alt="">
                            <div class="clients_content">
                                <div class="clients_name">Matthew Dix</div>
                                <div class="clients_prof">Graphic Design</div>
                                <div class="clients_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                            </div>
                        </div>
                        <div class="clients_item">
                            <img class="clients_photo" src="images\client2.png" alt="">
                            <div class="clients_content">
                                <div class="clients_name">Jaelynn Castillo </div>
                                <div class="clients_prof">Graphic Design</div>
                                <div class="clients_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</div>
                            </div>
                        </div>
                        <div class="clients_item">
                            <img class="clients_photo" src="images\client3.png" alt="">
                            <div class="clients_content">
                                <div class="clients_name">Mike Petrucci</div>
                                <div class="clients_prof">Graphic Design</div>
                                <div class="clients_text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                            </div>
                        </div>
                        <div class="clients_item">
                            <img class="clients_photo" src="images\client4.png" alt="">
                            <div class="clients_content">
                                <div class="clients_name">Matthew Dix</div>
                                <div class="clients_prof">Graphic Design</div>
                                <div class="clients_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                            </div>
                        </div>
                    </div> <!-- /.clients -->
                </div> <!-- /.container -->
            </section>
            <section class="section">
                <div class="container">
                    <div class="section_header">
                        <h3 class="section_subtitle">Our stories</h3>
                        <h2 class="section_title">Latest blog</h2>
                    </div>
                    <div class="blog">
                        <div class="blog_item">
                            <div class="blog_header">
                                <a href="#">
                                    <img class="blog_photo" src="images\blog1.jpg" alt="">
                                </a>
                                <div class="blog_date">
                                    <div class="blog_date-day">15</div>Jan
                                </div>
                            </div>
                            <div class="blog_content">
                                <div class="blog_title">
                                    <a href="#">Lorem ipsum dolor sit amet</a>
                                </div>
                                <div class="blog_text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                            <div class="blog_footer">
                                <div class="blog_stat">
                                    <span class="blog_stat_item">
                                        <i class="fas fa-eye"></i> 542
                                    </span>
                                    <span class="blog_stat_item">
                                        <i class="fas fa-comment-dots"></i> 17
                                    </span>
                                </div>
                            </div>    
                        </div>
                        <div class="blog_item">
                            <div class="blog_header">
                                <a href="#">
                                    <img class="blog_photo" src="images\blog2.jpg" alt="">
                                </a>
                                <div class="blog_date">
                                    <div class="blog_date-day">14</div>Jan
                                </div>
                            </div>
                            <div class="blog_content">
                                <div class="blog_title">
                                    <a href="#">Sed do eiusmod tempor</a>
                                </div>
                                <div class="blog_text">Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                            <div class="blog_footer">
                                <div class="blog_stat">
                                    <span class="blog_stat_item">
                                        <i class="fas fa-eye"></i> 992
                                    </span>
                                    <span class="blog_stat_item">
                                        <i class="fas fa-comment-dots"></i> 42
                                    </span>
                                </div>
                            </div>    
                        </div>
                        <div class="blog_item">
                            <div class="blog_header">
                                <a href="#">
                                    <img class="blog_photo" src="images\blog3.jpg" alt="">
                                </a>
                                <div class="blog_date">
                                    <div class="blog_date-day">12</div>Jan
                                </div>
                            </div>
                            <div class="blog_content">
                                <div class="blog_title">
                                    <a href="#">Incididunt ut labore et dolore</a>
                                </div>
                                <div class="blog_text">Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                            </div>
                            <div class="blog_footer">
                                <div class="blog_stat">
                                    <span class="blog_stat_item">
                                        <i class="fas fa-eye"></i> 1560
                                    </span>
                                    <span class="blog_stat_item">
                                        <i class="fas fa-comment-dots"></i> 98
                                    </span>
                                </div>
                            </div>    
                        </div>
                    </div> <!-- /.blog -->
                </div> <!-- /.container -->
            </section>
            <section class="section section--map">
                <div class="container">
                    <div class="map">
                        <h2 class="map_title">
                            <div class="map_icon"><i class="fas fa-map-marker-alt"></i></div>
                            <a href="https://goo.gl/maps/Uy3uZq7dMh4h88fY6" target="_blank">Open Map</a>
                        </h2>
                    </div>
                </div>
            </section>
            <footer class="footer">
                <div class="container">
                    <div class="footer_inner">
                        <div class="footer_col footer_col--first">
                            <div class="footer_logo">MoGo</div>
                            <div class="footer_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </div>
                            <div class="footer_social">
                                <div class="footer_social_header">
                                    <b>15k</b> followers
                                </div>
                                <div class="footer_social_content">
                                    Follow Us:
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-pinterest-p"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fas fa-basketball-ball"></i>
                                    </a>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-tumblr"></i>
                                    </a>
                                </div>
                            </div>
                            <form class="subscribe" action="/" method="post">
                                <input class="subscribe_imput" type="Email" name="name" placeholder="Your Email...">
                                <button class="subscribe_button" type="submit">Subscribe</button>
                            </form>
                        </div> <!-- /.footer_col -->
                        <div class="footer_col footer_col--blogs">
                            <div class="footer_title">Blogs</div>
                            <div class="blogs">
                                <div class="blogs_item">
                                    <img class="blogs_img" src="images\blogS1.jpg" alt="">
                                    <div class="blogs_content">
                                        <a class="blogs_title" href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a>
                                        <div class="blogs_date">Jan 9, 2016</div>
                                    </div>
                                </div>
                                <div class="blogs_item">
                                    <img class="blogs_img" src="images\blogS2.jpg" alt="">
                                    <div class="blogs_content">
                                        <a class="blogs_title" href="">Consectetur adipiscing elit, sed do eiusmod tempor</a>
                                        <div class="blogs_date">Jan 9, 2016</div>
                                    </div>
                                </div>
                                <div class="blogs_item">
                                    <img class="blogs_img" src="images\blogS3.jpg" alt="">
                                    <div class="blogs_content">
                                        <a class="blogs_title" href="">sed do eiusmod tempor incididunt ut labore</a>
                                        <div class="blogs_date">Jan 9, 2016</div>
                                    </div>
                                </div>
                            </div> <!-- /.blogs -->
                        </div><!-- /.footer_col -->
                        <div class="footer_col footer_col--inst">
                            <div class="footer_title">Instagram</div>
                            <div class="instagram">
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst1.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst2.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst3.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst4.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst5.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst6.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst7.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst8.jpg" alt="">
                                </a>
                                <a class="instagram_item" href="#" target="_blank">
                                    <img src="images\inst9.jpg" alt="">
                                </a>
                            </div>
                        </div> <!-- /.footer_col -->
                    </div> <!-- /.footer_inner -->
                    <div class="copyright">
                        © 2016 MoGo free PSD template by <span>Laaqiq</span>
                    </div>
                </div> <!-- /.container -->
            </footer>
        </div> <!-- /.page-->
    </body>
</html>